body {
    display: flex;
    justify-content: center;
    background: rgb(238,174,217);
background: radial-gradient(circle, rgba(238,174,217,1) 0%, rgba(148,188,233,1) 100%);
align-items: center;
}
.container {
    position: absolute;
    border: dashed;
    border-color: black;
    height: 650px;
    margin: auto;
    top: 250px;
    display: flex;
    flex-direction: row;
    width: 700px;
}


.Rock {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-color: black;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 1px grey;
    cursor: pointer;
    position: relative;
    left: 210px;
    top: 250px;

    
}

.Paper {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-color: black;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 1px grey;
    cursor: pointer;
    position: relative;
    left: 215px;
    top: 250px;
}

.Scissors {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 1px grey;
    cursor: pointer;
    left: 220px;
    top: 250px;
    position: relative;
}

.scoreboard{
    font-size: xx-large;
    text-align: center;
    height: 75px;
    width: 225px;
    position: relative;
    margin: auto;
    bottom: 200px;
    font-display: white;
    font-weight: 700;

}

.wins-losses {
    font-size: xx-large;
    text-align: center;
    height: 75px;
    width: 225px;
    position: relative;
    margin: auto;
    
}



.player1 {
    height: 500px;
    width: 500px;
    position: relative;
    top: 100px;
}




.text-box-container {
    width: 580px;
    position: absolute;
    top: 50px;
}

.entryarea {
    position: relative;
    height: 90px;
    line-height: 80px;
}

input{
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 2.2em;
    padding: 0 30px;
    line-height: 80px;
    border-radius: 10px;
    border: 2px solid white;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
   
}

.labelline{
    position: absolute;
    font-size: 1.6em;
    color: white;
    padding: 0 25px;
    margin: 0 20px;
    background-color: radial-gradient(circle, rgba(238,174,217,1) 0%, rgba(148,188,233,1) 100%);
    transition: 0.2s ease;
    

}

input:focus,
input:valid {
    color: black;
    border: 4px solid rgb(238,174,217);
}

input:focus + .labelline,
input:valid + .labelline{
    color: blue;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px,-16px) scale(0.88);
    z-index: 1111;
    transition: 0.2s ease;
    color: transparent;
}